<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
<script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
    <script src="cordova.js"></script>

    <!--Firebase-->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

    <!-- app's js -->
    <script src="js/app.js"></script>   	
  </head>

  <!-- <button class="button button-icon ion-plus" ng-click="addLocker()"></button> ---> 
  
  <!-- Content --> 
  <body ng-app="starter" ng-controller="LockerCtrl">
    <ion-header-bar align-title="center" class="bar-balanced">
    <h1 class="title">
    <button class="button button-icon ion-ionic resizelogo" ng-click="scrollToTop()"></button>
    </h1>
    </ion-header-bar>

    <ion-content ng-init="setTimeCountControllers()">
    <br>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="N&#xFA;mero do Arm&#xE1;rio" id="lockerNumberInput">
    </label>
    <div class="row">
    <div class="col">
    <button id="search_button" class="button button-block button-balanced" ng-click="getButtonClicked()">
      <i class="ion-search" ></i>
      Pesquisar
    </button>
    </div>
    </div>

    <p id="alertText" align='center'><b></b></p>
 
      <div class="list card">
        <div class="item item-body" ng-repeat="locker in lockers">
        <a ng-click="preLoadLocker(locker);openLockerInfo()" class="item item-icon-right text-center">
        <img ng-src="{{locker.filSrc}}" style="width: 30px; height: auto;"> 
        <img ng-src="{{locker.src}}" style="width: 120px; height: auto;"> 
        <p style="text-align: center">  
         Arm&#xE1;rio - {{locker.number}}                    
        </p>
        <i class="icon ion-chevron-right"></i>  
          </a>
          
        </div>
      </div>
    </ion-content>


<!-- Modal secundário para informações do armário, modal_pré-reserva ou modal_consulta -->
    <script id="lockers-info.html" type="text/ng-template">
        <div class="modal">
          <ion-header-bar class="top" align-title="center">
          <h1 class="title">
            <button class="button button-icon ion-ios-flask-outline balanced" ng-click="returnView()"></button>
            </h1>
            </ion-header-bar>

            <ion-content>
            <!-- Preciso listar: Número, Proprietário, Turma do Proprietário, Matrícula, Disponível (badge), Atributo (Renovado ou Alugado); Pesquisar Time Controller, fazer controle de matrícula via prompt-->
            <ion-list ng-repeat="showingLocker in showingLocker">
            <div class="item item-divider" align="center"> <i class="icon ion-key"></i>
              {{showingLocker.number}}</div>
            <ion-item class="item item-icon-left">
              <i class="icon ion-key"></i>
              <p align="center"><b>{{showingLocker.number}}<br></b></p>
            </ion-item>
            <ion-item class="item item-icon-left">
            <i class="icon"><img ng-src="{{showingLocker.filSrc}}" align="right" style="width: 30px; height: auto;"> </i>
            <p align="center">Fileira: <b>{{showingLocker.fileira}}<br></b></p>
            
            </ion-item>
            <ion-item class="item item-icon-left">
            <i class="icon ion-android-person"></i>
            <p align="center"><b>{{showingLocker.owner}}<br></b></p>
            </ion-item>
              <ion-item class="item item-icon-left">
            <i class="icon ion-ios-people"></i>
            <p align="center"><b>{{showingLocker.ownerClass}}<br></b></p>
            </ion-item>
              <ion-item class="item item-icon-left">
            <i class="icon ion-ios-book"></i>
            <p align="center"><b>{{showingLocker.ownerMat}}<br></b></p>
            </ion-item>
            <ion-item class="item item-icon-left" ng-init="setAvBadgeColor(showingLocker)">
            <i class="icon ion-ios-circle-filled"></i>
            <p align="center"><b>Disponível - </b></p>
            <span class="badge" id="av_badge">{{showingLocker.available}}<br></span>
            </ion-item>
            <ion-item class="item item-icon-left" ng-init="setStatusTextColor(showingLocker)">
            <i class="icon ion-ios-flag"></i>
            <p align="center" id="status_p"><b>{{showingLocker.status}}<br></b></p>
            </ion-item>
            <ion-item>
            <img ng-src="{{showingLocker.src}}" class="center" style="width: 180px; height: auto;"> 
            </ion-item>
            <button class="button button-block button-positive" ng-click="openLockerNewReg(showingLocker)">Reservar</button>
            </ion-list>
            </ion-content>
        </div>
    </script>



  <!-- Modal para nova reserva --> 
    <script id="lockers-newReg.html" type="text/ng-template">
      <div class="modal">
        <ion-header-bar class="top" align-title="center">
          <h1 class="title">
            <button class="button button-icon ion-ios-flask-outline balanced" ng-click="returnView()"></button>
            </h1>
        </ion-header-bar>

        <ion-content>
          <div class="list">
            <label class="item item-input item-floating-label">
              <span class="input-label">Seu Nome</span>
              <input id="ownerInputName" type="text" placeholder="Seu Nome">
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">Sua Turma</span>
              <input id="ownerInputClass" type="text" placeholder="Sua Turma">
            </label>
            <label class="item item-input item-floating-label">
            <span class="input-label">Sua Matrícula</span>
            <input id="ownerInputMat" type="text" placeholder="Matrícula">
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">E-mail ou Telefone</span>
            <input id="ownerInputContact" type="email" placeholder="E-mail ou Telefone">
            </label>
          </div>
          <button id="submitInfo" align="center" class="button button-block button-positive" ng-click="updateLockerInfo()">Enviar</button>
        </ion-content>
      </div>
    </script>
  </body>
</html>
